h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}